
.details-title{
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.details-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.detail{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
.detail-label{
    margin-right: .5rem;
}
.detail_countries{
    display: inline-block;
}
.border-countries-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1.5rem;
}
@media screen and (max-width:450px) {
    .details-wrapper{
        flex-direction: column;
        gap: 1.5rem;  
    }
    .border-countries-wrapper{
        margin-top: 1.5rem;
    }
}