
.dropdown {
  width: 12.5rem;
  position: relative;
  border-radius: .4rem;
  // overflow: hidden;
}
.dropdown.dark-mode .dropdown-select,
.dropdown.dark-mode .dropdown-list{
  background-color: $darkBlue;
  color: $white;
}
.dropdown .dropdown-list.click {
  opacity: 1;
  visibility: visible;
}
.dropdown-select {
  padding: 1.3rem 1.5rem;
  border-radius: 0.4rem;
  background-color: $white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .84rem;
  cursor: pointer;
}

.dropdown-list {
  border-radius: 0.4rem;
  background-color: $white;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

.dropdown-list__item {
  padding-block: .4rem;
  font-size: .84rem;
}
.dropdown-list__item:hover {
  cursor: pointer;
}
