.search{
    position: relative;
    font-size: $detailPage;
}
.input-wrapper {
  position: relative;
  width: 30rem;
}
.input {
  color: #191919;
  padding-block: 1.3rem;
  padding-inline: 4.5rem 1rem;
  width: 100%;
  border-radius: .33rem;
  box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.05);
  border: none;
}
.input-icon {
  color: $darkGray;
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1rem;
    width: 1rem;
    background-image: url('https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg');
    filter: invert(70%);
    
}
